Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,
    "ProductVersion" TEXT NOT NULL
);

BEGIN TRANSACTION;
CREATE TABLE "Autor" (
    "Id" INTEGER NOT NULL CONSTRAINT "PK_Autor" PRIMARY KEY AUTOINCREMENT,
    "Nome" TEXT NOT NULL
);

CREATE TABLE "Livros" (
    "Id" INTEGER NOT NULL CONSTRAINT "PK_Livros" PRIMARY KEY AUTOINCREMENT,
    "Titulo" TEXT NOT NULL,
    "Ano" INTEGER NOT NULL,
    "GeneroId" TEXT NOT NULL,
    "AutorId" INTEGER NOT NULL
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260423143718_InitialCreate', '10.0.6');

COMMIT;

BEGIN TRANSACTION;
ALTER TABLE "Livros" RENAME COLUMN "GeneroId" TO "Genero";

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260423145109_CorrigirGenero', '10.0.6');

COMMIT;

BEGIN TRANSACTION;
ALTER TABLE "Autor" RENAME TO "Autores";

CREATE TABLE "ef_temp_Autores" (
    "Id" INTEGER NOT NULL CONSTRAINT "PK_Autores" PRIMARY KEY AUTOINCREMENT,
    "Nome" TEXT NOT NULL
);

INSERT INTO "ef_temp_Autores" ("Id", "Nome")
SELECT "Id", "Nome"
FROM "Autores";

CREATE TABLE "ef_temp_Livros" (
    "Id" INTEGER NOT NULL CONSTRAINT "PK_Livros" PRIMARY KEY AUTOINCREMENT,
    "Ano" INTEGER NULL,
    "AutorId" INTEGER NULL,
    "Genero" TEXT NULL,
    "Titulo" TEXT NULL
);

INSERT INTO "ef_temp_Livros" ("Id", "Ano", "AutorId", "Genero", "Titulo")
SELECT "Id", "Ano", "AutorId", "Genero", "Titulo"
FROM "Livros";

COMMIT;

PRAGMA foreign_keys = 0;

BEGIN TRANSACTION;
DROP TABLE "Autores";

ALTER TABLE "ef_temp_Autores" RENAME TO "Autores";

DROP TABLE "Livros";

ALTER TABLE "ef_temp_Livros" RENAME TO "Livros";

COMMIT;

PRAGMA foreign_keys = 1;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260423223104_RenomearAutorParaAutores', '10.0.6');


